In [60]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
url='https://en.wikipedia.org/wiki/Economy_of_the_European_Union'

In [6]:
response = requests.get(url)

In [9]:
html =  response.text
html[:1000]

'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>Economy of the European Union - Wikipedia</title>\n<script>document.documentElement.className = document.documentElement.className.replace( /(^|\\s)client-nojs(\\s|$)/, "$1client-js$2" );</script>\n<script>(window.RLQ=window.RLQ||[]).push(function(){mw.config.set({"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"Economy_of_the_European_Union","wgTitle":"Economy of the European Union","wgCurRevisionId":880199556,"wgRevisionId":880199556,"wgArticleId":1598533,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["CS1 German-language sources (de)","Use British English from March 2013","Use dmy dates from March 2018","All articles with unsourced statements","Articles with unsourced statements from September 2016","Commons category link is on Wikidata","Pages with graphs","Economy of the Eu'

In [10]:
soup = BeautifulSoup(html,'html.parser')

In [11]:
tables= soup.findAll('table',{'class':'wikitable'})

In [16]:
len(tables)

17

In [23]:
table_1= tables[0]
table_1

<table class="wikitable">
<caption>Fortune top 10 E.U. corporations by revenue (2016)<sup class="reference" id="cite_ref-fortune500_51-0"><a href="#cite_note-fortune500-51">[51]</a></sup>
</caption>
<tbody><tr>
<th>Rank</th>
<th>Corporation</th>
<th>Stock ticker</th>
<th>Revenue $ millions</th>
<th>Profit $ millions</th>
<th>Employees</th>
<th>Headquarters</th>
<th>Industry
</th></tr>
<tr>
<td>1</td>
<td><a href="/wiki/Royal_Dutch_Shell" title="Royal Dutch Shell">Royal Dutch Shell</a></td>
<td>RDS.A</td>
<td>272,156</td>
<td>1,939</td>
<td>90,000</td>
<td><a href="/wiki/Shell_Centre" title="Shell Centre">Shell Centre</a>, <a href="/wiki/London" title="London">London</a>, UK, and <a href="/wiki/The_Hague" title="The Hague">The Hague</a>, Netherlands</td>
<td>Energy
</td></tr>
<tr>
<td>2</td>
<td><a href="/wiki/Volkswagen_Group" title="Volkswagen Group">Volkswagen</a></td>
<td>VLKAY</td>
<td>236,600</td>
<td>-1,520</td>
<td>610,076</td>
<td><a href="/wiki/Wolfsburg" title="Wolfsburg">Wolfsburg</a>, Germany</td>
<td>Motor Vehicles &amp; Parts
</td></tr>
<tr>
<td>3</td>
<td><a href="/wiki/BP" title="BP">BP PLC</a></td>
<td>BP.L</td>
<td>183,000</td>
<td>4,100</td>
<td>74,500</td>
<td><a href="/wiki/London" title="London">London</a>, UK</td>
<td>Energy
</td></tr>
<tr>
<td>4</td>
<td><a href="/wiki/Daimler_AG" title="Daimler AG">Daimler</a></td>
<td>DDAIY</td>
<td>165,800</td>
<td>9,345</td>
<td>284,015</td>
<td><a href="/wiki/Stuttgart" title="Stuttgart">Stuttgart</a>, Germany</td>
<td>Motor Vehicles &amp; Parts
</td></tr>
<tr>
<td>5</td>
<td><a href="/wiki/Exor_(company)" title="Exor (company)">EXOR Group</a></td>
<td>EXOSF</td>
<td>152,591</td>
<td>825</td>
<td>303,247</td>
<td><a href="/wiki/Turin" title="Turin">Turin</a>, Italy</td>
<td>Financials
</td></tr>
<tr>
<td>6</td>
<td><a href="/wiki/Total_S.A." title="Total S.A.">Total</a></td>
<td>TOT</td>
<td>143,421</td>
<td>5,087</td>
<td>96,019</td>
<td><a href="/wiki/Paris" title="Paris">Paris</a>, France</td>
<td>Energy
</td></tr>
<tr>
<td>7</td>
<td><a href="/wiki/E.ON" title="E.ON">E.ON</a></td>
<td>EONGY</td>
<td>129,277</td>
<td>-7,764</td>
<td>56,490</td>
<td><a href="/wiki/Essen" title="Essen">Essen</a>, Germany</td>
<td>Energy
</td></tr>
<tr>
<td>8</td>
<td><a href="/wiki/AXA" title="AXA">AXA</a></td>
<td>AXAHY</td>
<td>129,250</td>
<td>6,231</td>
<td>98,279</td>
<td><a href="/wiki/Paris" title="Paris">Paris</a>, France</td>
<td>Financials
</td></tr>
<tr>
<td>9</td>
<td><a href="/wiki/Allianz" title="Allianz">Allianz</a></td>
<td>AZSEY</td>
<td>122,948</td>
<td>7,339</td>
<td>142,459</td>
<td><a href="/wiki/Munich" title="Munich">Munich</a>, Germany</td>
<td>Financials
</td></tr>
<tr>
<td>10</td>
<td><a href="/wiki/BNP_Paribas" title="BNP Paribas">BNP Paribas</a></td>
<td>BNPQY</td>
<td>111,531</td>
<td>7,426</td>
<td>181,551</td>
<td><a href="/wiki/Paris" title="Paris">Paris</a>, France</td>
<td>Financials
</td></tr></tbody></table>

In [26]:
rows= table_1.findAll('tr')
len(rows)

11

In [44]:
col_len= [len(r.findAll(['th','td'])) for r in rows]
col_len

[8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]

In [46]:
n_cols=max(col_len)
n_cols

8

In [48]:
n_rows=len(rows)
n_rows

11

In [69]:
data=[]
for i in range(n_rows):
    rowD=[]
    for j in range(n_cols):
        rowD.append('')
    data.append(rowD)

In [70]:
data

[['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '']]

In [73]:
for i in range(n_rows):
    row=rows[i]
    cells=row.findAll(['th','td'])
    for j in range(n_cols):
        data[i][j]=cells[j].text
data

[['Rank',
  'Corporation',
  'Stock ticker',
  'Revenue $ millions',
  'Profit $ millions',
  'Employees',
  'Headquarters',
  'Industry\n'],
 ['1',
  'Royal Dutch Shell',
  'RDS.A',
  '272,156',
  '1,939',
  '90,000',
  'Shell Centre, London, UK, and The Hague, Netherlands',
  'Energy\n'],
 ['2',
  'Volkswagen',
  'VLKAY',
  '236,600',
  '-1,520',
  '610,076',
  'Wolfsburg, Germany',
  'Motor Vehicles & Parts\n'],
 ['3',
  'BP PLC',
  'BP.L',
  '183,000',
  '4,100',
  '74,500',
  'London, UK',
  'Energy\n'],
 ['4',
  'Daimler',
  'DDAIY',
  '165,800',
  '9,345',
  '284,015',
  'Stuttgart, Germany',
  'Motor Vehicles & Parts\n'],
 ['5',
  'EXOR Group',
  'EXOSF',
  '152,591',
  '825',
  '303,247',
  'Turin, Italy',
  'Financials\n'],
 ['6',
  'Total',
  'TOT',
  '143,421',
  '5,087',
  '96,019',
  'Paris, France',
  'Energy\n'],
 ['7',
  'E.ON',
  'EONGY',
  '129,277',
  '-7,764',
  '56,490',
  'Essen, Germany',
  'Energy\n'],
 ['8',
  'AXA',
  'AXAHY',
  '129,250',
  '6,231',
  '98,279',
  'Paris, France',
  'Financials\n'],
 ['9',
  'Allianz',
  'AZSEY',
  '122,948',
  '7,339',
  '142,459',
  'Munich, Germany',
  'Financials\n'],
 ['10',
  'BNP Paribas',
  'BNPQY',
  '111,531',
  '7,426',
  '181,551',
  'Paris, France',
  'Financials\n']]

In [58]:
data_cols=data[0]
data_cols

['Rank',
 'Corporation',
 'Stock ticker',
 'Revenue $ millions',
 'Profit $ millions',
 'Employees',
 'Headquarters',
 'Industry\n']

In [74]:
df=pd.DataFrame(data,columns=data_cols)
df

,Rank,Corporation,Stock ticker,Revenue $ millions,Profit $ millions,Employees,Headquarters,Industry
0,Rank,Corporation,Stock ticker,Revenue $ millions,Profit $ millions,Employees,Headquarters,Industry\n
1,1,Royal Dutch Shell,RDS.A,"272,156","1,939","90,000","Shell Centre, London, UK, and The Hague, Nethe...",Energy\n
2,2,Volkswagen,VLKAY,"236,600","-1,520","610,076","Wolfsburg, Germany",Motor Vehicles & Parts\n
3,3,BP PLC,BP.L,"183,000","4,100","74,500","London, UK",Energy\n
4,4,Daimler,DDAIY,"165,800","9,345","284,015","Stuttgart, Germany",Motor Vehicles & Parts\n
5,5,EXOR Group,EXOSF,"152,591",825,"303,247","Turin, Italy",Financials\n
6,6,Total,TOT,"143,421","5,087","96,019","Paris, France",Energy\n
7,7,E.ON,EONGY,"129,277","-7,764","56,490","Essen, Germany",Energy\n
8,8,AXA,AXAHY,"129,250","6,231","98,279","Paris, France",Financials\n
9,9,Allianz,AZSEY,"122,948","7,339","142,459","Munich, Germany",Financials\n
10,10,BNP Paribas,BNPQY,"111,531","7,426","181,551","Paris, France",Financials\n